/* App.css */

/* Styles for the overall app container */
.app-container {
  background-color: #fff; /* White background for the entire page */
  width: 1250px; /* Adjusted width for the Home page */
  height: 1px; /* Adjusted height for the Home page */
  position: relative; /* Add position relative to position child elements */
}

/* Styles for the header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; /* Background color is white */
  padding: 10px 40px; /* Padding around the header content */
  color: #092a59; /* Text color is navy blue */
  font-weight: bold; /* Make the text bold */
}

/* Style for the church icon image */
.icon {
  width: 96.21px;
  height: 85px;
  margin-right: 60px; /* Add some spacing between the icon and church name */
}

/* Styles for the church name */
.church-name {
  font-family: Inter;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

/* Styles for the login button */
.login-button {
  width: 197px;
  height: 46px;
  padding: 10px;
  border-radius: 10px;
  background-color: #a22531;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* Main Navbar */
.main-navbar {
  width: 1262px;
  height: auto;
  top: 114px;
  padding: 0 40px;
  display: flex;
  flex-direction: row; /* Set the main-navbar as a row container */
  align-items: center;
  background: #061e40;
  gap: 0.5rem; /* Adjust the gap with 0.5rem spacing */
}

.frame {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 24px 35px;
  gap: 10px;
  background: #a22531;
  color: white;
  font-weight: bold;
  margin-right: 3rem; /* Add margin to separate frames horizontally */
}

.frame:nth-child(1) {
  order: 1; /* Change order to rearrange the frames */
}

.frame:nth-child(2) {
  order: 2;
}

.frame:nth-child(3) {
  order: 3;
}

.frame:nth-child(4) {
  order: 4;
}

.frame:nth-child(5) {
  order: 5;
}

.frame:nth-child(6) {
  order: 6;
}

.frame:nth-child(7) {
  order: 7;
}

/* Styles for Rectangle 1 */
.rectangle-1 {
  width: 210px;
  height: 411px;
  top: 950px;
  background: linear-gradient(
      0deg,
      rgba(162, 37, 49, 0.48),
      rgba(162, 37, 49, 0.48)
    ),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);
  position: absolute;
}

.rectangle-1 img {
  width: 200%;
  height: 100%;
  object-fit: cover;
}

.rectangle-1 .text {
  color: hsl(240, 56%, 98%);
  position: absolute;
  bottom:270px;
  left: 100%;
  transform: translateX(-50%);
  text-align: center;
  width: 70%;
  padding: 0px;
}

.rectangle-1 .text p {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #172283;
}

/* Styles for Rectangle 2 */
.rectangle-2 {
  width: 442px;
  height: 350px;
  top: 990px;
  left: 425px;
  background: url("https://scontent.fnbo16-1.fna.fbcdn.net/v/t1.6435-9/83840542_787766981725605_4111939648387809280_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=IIs38AXT--MAX-G4I_I&_nc_oc=AQlQrAAuFTdDdj3WMWyzynLAFl247Me-ia6ZkCzTmppD2KgHqzIsTb7XPjh-8ZYef7k&_nc_ht=scontent.fnbo16-1.fna&oh=00_AfB8u14bxucR084Ya3L-iOJMf0lDumdIbofyZbJ2dPRKKA&oe=6548673D");
  background-size: cover;
  background-color: #a225317a;
  position: absolute;
}

.rectangle-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle-2 .text {
  color: #0b3cc2;
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  padding: 0px;
}

.rectangle-2 .text p {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #071d68;
}

/* Styles for Rectangle 3 */
.rectangle-3 {
  width: 432px;
  height: 350px;
  top: 1342px; /* Adjust the top position to align vertically with Rectangle 5 */
  left: 435px; /* Place it to the right of Rectangle 2 */
  background-color: #a225317a;
  position: absolute;
}

.rectangle-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle-3 .text {
  background-color: #8a0606;
  color: #ffffff00;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  padding: 0px;
}

.rectangle-3 .text p {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

/* Styles for Rectangle 4 */
.rectangle-4 {
  width: 432px;
  height: 350px;
  top: 1380px; /* Adjust the top position to align below Rectangle 1 */
  left: 0;
  background-color: #a225317a;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align the text to the bottom */
}

.rectangle-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle-4 .text {
  color: #ffffff;
  position: relative; /* Change to relative to position the text relative to its container */
  bottom: -75; /* Adjust to 0 to place it at the bottom of the container */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  padding: 0px;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Add a background to make text more readable */
}

.rectangle-4 .text p {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding: 0px; /* Add padding to make the text more readable */
  margin: 0; /* Remove default margin */
}


/* Styles for Rectangle 5 */
.rectangle-5 {
  width: 410px;
  height: 350px;
  top: 990px;
  left: 870px;
  background-color: #ce1c2d7a;
  position: absolute;
}

.rectangle-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle-5 .text {
  background-color: white;
  color: #210583;
  font-style: italic;
  position: absolute;
  bottom: 260px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  padding: 0px; /* Set padding to 1px for an extremely small and thin padding */
}

.rectangle-5 .text p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #210583;
}

/* Styles for Rectangle 6 */
.rectangle-6 {
  width: 1328px;
  height: 1190px;
  top: 710px; /* Adjust the top position to place it below Rectangle 5 and 3 */
  left: -900px; /* Set the left position to leave a small gap next to Rectangle 3 */
  background: #092a59;
  position: absolute;
}

/* Styles for Asset 4PEFA Favicon 1 */
.asset-4 {
  width: 263px;
  height: 300px;
  top: 30px; /* Adjust the top position to position it inside Rectangle 6 */
  left: 50px; /* Adjust the left position to position it inside Rectangle 6 */
  position: absolute;
}

.asset-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text inside Rectangle 6 */
.text-inside-rectangle-6 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 90px; /* Adjust the top position as needed */
}

.text-inside-rectangle-6 p {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

/* Style for the Inspirational Quotes */
.inspirational-quotes {
  position: absolute;
  top: 10%; /* Adjust the top position to vertically center the quotes */
  right: 90px; /* Adjust the right position to move it to the right corner */
  transform: translateY(-50%);
  text-align: right;
}

/* Style for the list of quotes */
.inspirational-quotes ul {
  list-style-type: disc; /* Use disc bullets for the list */
  padding: 0;
}

/* Style for individual list items */
.inspirational-quotes li {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Style the bullet points */
.inspirational-quotes li::before {
  content: "\2022"; /* Use a bullet point character (•) */
  color: #f5c542; /* Bullet point color */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/* Styles for the text inside Rectangle 6 */
.text-inside-rectangle-6 {
  /* Provided styles */
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  color-scheme: dark;
  font-family: Inter, sans-serif;
  --tw-bg-opacity: 1;
  border: 0 solid #e5e7eb;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  opacity: 1;
  transform: translateZ(0);
  margin-top: 6cm; /* Move the text down 6cm */
}

/* Rectangle 7 */
.rectangle-7 {
  width: 1320px;
  height: 420px;
  top: 1119px;
  left: -900px;
  background: #f0efef;
  position: absolute;
}

/* Text "Life at PEFA GIKOMBA CHURCH" inside Rectangle 7 */
.life-text {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Text below "Life at PEFA GIKOMBA CHURCH" inside Rectangle 7 */
.life-description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #131575;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* Rectangle 8 */
.rectangle-8 {
  width: 320px;
  height: 471px;
  top: 1330px;
  left: -900px;
  background: #ffffff;
  position: absolute;
}

/* Image inside Rectangle 8 */
.image-8 {
  width: 100%;
  height: 100%;
  background-image: url("https://t3.ftcdn.net/jpg/03/46/56/46/360_F_346564689_JGQaYAjL5pRr5olk0IdNEXU70RZpAb3K.jpg"); /* Replace 'YOUR_IMAGE_URL' with the actual image URL */
  background-size: cover;
}

/* Text "Prayer Services every Tuesday" inside Rectangle 8 */
.text-8 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
}

/* Rectangle 9 */
.rectangle-9 {
  width: 320px;
  height: 471px;
  top: 1330px;
  left: -580px;
  background: #ffffff;
  position: absolute;
}

/* Image inside Rectangle 9 */
.image-9 {
  width: 100%;
  height: 100%;
  background-image: url('https://scontent.fnbo16-1.fna.fbcdn.net/v/t39.30808-6/309424416_1503466040155692_831830660489416230_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=EqsLNeQ4LIoAX-l2yH2&_nc_ht=scontent.fnbo16-1.fna&oh=00_AfAFbgw1StLo498LbIdlISNADecsn-hSnBT4nt-4GNSE9g&oe=652D37E9');
  background-size: cover;
}

/* Text "Transport Services" inside Rectangle 9 */
.text-9 {
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 350px;
  left: 60%;
  transform: translateX(-50%);
}

/* Rectangle 10 */
.rectangle-10 {
  width: 360px;
  height: 471px;
  top: 1330px;
  left: -259px;
  background: #ffffff;
  position: absolute;
}

/* Image inside Rectangle 10 */
.image-10 {
  width: 100%;
  height: 100%;
  background-image: url("https://scontent.fnbo16-1.fna.fbcdn.net/v/t39.30808-6/302444193_1475466006289029_8330210796222643401_n.png?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=cH4TyzGNUx0AX_Yi2Mu&_nc_ht=scontent.fnbo16-1.fna&oh=00_AfCOUHyt40-9Kcx_uiHhFcBNv2r1uuLkZ2BhTI3rPoVw8Q&oe=652CDF3B");
  background-size: cover;
}

/* Text "Youth Week Services" inside Rectangle 10 */
.text-10 {
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Rectangle 11 */
.rectangle-11 {
  width: 340px;
  height: 471px;
  top: 1330px;
  left: 102px;
  background: #ffffff;
  position: absolute;
}

/* Image inside Rectangle 11 */
.image-11 {
  width: 100%;
  height: 100%;
  background-image: url("https://media.gettyimages.com/id/1333641112/photo/bible-study-multi-ethnic-group-multi-ethnic-group-of-friends-meet-for-a-bible-study-group.jpg?s=612x612&w=gi&k=20&c=nWY9V7ZCD8syPgGjv4lFOFwVMUELQa2HJvQLGGdGSIk=");
  background-size: cover;
}

/* Text "Bible Study Services" inside Rectangle 11 */
.text-11 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
}

.App {
  text-align: center;
}

/* Styles for Rectangle 6 */
.Rectangle6 {
  width: 633px;
  height: 330px;
  top: 1450px;
  left: -880px;
  position: relative;
}

/* Styles for the Yellow Popping Emoji Hand */
.pop-emoji-hand {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  animation: dance 1s infinite alternate;
}

@keyframes dance {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Styles for the Text */
.pop-emoji-hand .text {
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top:20px;
}

.Rectangle12 {
  width: 690px;
  height: 330px;
  top: 1120px;
  background: #a22531;
  position: relative;
  left: -245px; /* Adjusted left position for 7cm offset */
}

.Frame {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column; /* Change to column */
  justify-content: flex-end; /* Change to flex-end */
  align-items: flex-end;
  gap: 62px;
  position: relative;
  top: 17px;
  left: -75px;
}

.VerseText {
  color: white;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  max-width: 533px;
  margin: 0;
}

.custom-container {
  width: 1000px;
  height: 362px;
  top: 315px;
  left: -395px;
  background: #092a59;
  position: absolute;
}

.custom-element {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.btn-primary {
  width: 317px;
  height: 56px;
  top: 2382px;
  left: 705px;
  padding: 14px 24px;
  border-radius: 12px;
  background: #ffffff;
  text-align: center;
  color: #092a59a8;
  font-weight: bold;
  font-size: 25px;
  border: none;
}

/* Additional button styles to match the description */
.btn-primary:hover {
  background: #092a59a8;
  color: #ffffff;
  cursor: pointer;
}

/* Footer Styles */
.footer {
  position: absolute;
  width: 1000px;
  height: 420px;
  top: 300px; /* Adjust this value to move it up or down */
  padding: 79px 209px;
  gap: 20px;
  background: #092A59;
  display: flex;
  justify-content: space-between;
}

/* Group 17 Styles */
.group-17 {
  flex: 1; /* Distribute space evenly between items */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

/* Add text to the titles */
.text:after {
  content: ":";
  margin-right: 5px;
  display: block;
}

/* Title Styles */
.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  background-color: white;
  color: black;
}

/* Style for the footer content within the .group-17 section */
.group-17 .text:after {
  content: "Location: iPR8Q+5Q6 pefa gikomba, Nairobi, Hours: 7:00am – 5:00pm Telephone: 0754 569 687 Email: angc68@gmail.com";
  white-space: pre;
  display: block;
  margin: 10px 0;
}
